force-app/main/default/flows/Reject_Product_Transfer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Reversal_Id</name>
        <label>Assign Reversal ID</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varReversalId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Reversal_Transfer_Header.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Validate_Rejection</name>
        <label>Validate Rejection Eligibility</label>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Screen_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Allowed</defaultConnectorLabel>
        <rules>
            <name>Allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Original_Transfer.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Reversal_Transfer_Header</targetReference>
            </connector>
            <label>Allowed</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Reject Product Transfer</interviewLabel>
    <label>Reject Product Transfer</label>
    <loops>
        <name>Loop_Product_Transfer_States</name>
        <label>Loop Through Product Transfer States</label>
        <locationX>176</locationX>
        <locationY>550</locationY>
        <collectionReference>Get_Original_States</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Reversal_Transfer_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Reversal_To_Sent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <recordCreates>
        <name>Create_Reversal_Transfer_Header</name>
        <label>Create Reversal Transfer Header</label>
        <locationX>176</locationX>
        <locationY>250</locationY>
        <connector>
            <targetReference>Assign_Reversal_Id</targetReference>
        </connector>
        <object>ProductTransfer</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <inputReference>varReversalHeader</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Reversal_Transfer_Line</name>
        <label>Create Reversal Transfer Line</label>
        <locationX>360</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Create_Reversal_Transfer_State</targetReference>
        </connector>
        <object>ProductTransferLine</object>
        <storeOutputAutomatically>false</storeOutputAutomatically>
        <inputReference>varReversalLine</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Reversal_Transfer_State</name>
        <label>Create Reversal Transfer State</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Loop_Product_Transfer_States</targetReference>
        </connector>
        <object>ProductTransferState</object>
        <storeOutputAutomatically>false</storeOutputAutomatically>
        <inputReference>varReversalState</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Original_States</name>
        <label>Get Original Product Transfer States</label>
        <locationX>176</locationX>
        <locationY>450</locationY>
        <connector>
            <targetReference>Loop_Product_Transfer_States</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductTransferId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>transferId</elementReference>
            </value>
        </filters>
        <object>ProductTransferState</object>
        <outputReference>colOriginalStates</outputReference>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Transfer</name>
        <label>Get Original Product Transfer</label>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Rejection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>transferId</elementReference>
            </value>
        </filters>
        <object>ProductTransfer</object>
        <outputReference>varOriginalTransfer</outputReference>
    </recordLookups>
    <recordUpdates>
        <name>Mark_Original_Rejected</name>
        <label>Mark Original Transfer as Rejected</label>
        <locationX>176</locationX>
        <locationY>800</locationY>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <object>ProductTransfer</object>
        <inputReference>varUpdateOriginal</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reversal_To_Sent</name>
        <label>Update Reversal Transfer Status to Sent</label>
        <locationX>176</locationX>
        <locationY>750</locationY>
        <connector>
            <targetReference>Mark_Original_Rejected</targetReference>
        </connector>
        <object>ProductTransfer</object>
        <inputReference>varUpdateReversal</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_Error</name>
        <label>Error</label>
        <locationX>176</locationX>
        <locationY>100</locationY>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText_Error</name>
            <fieldText>
                <value>Cannot reject this transfer. Only transfers with status Sent can be rejected.</value>
            </fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Screen_Success</name>
        <label>Rejection Complete</label>
        <locationX>176</locationX>
        <locationY>900</locationY>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText_Success</name>
            <fieldText>
                <value>Rejection Complete! Reversal Transfer ID: </value>
            </fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <start>
        <locationX>176</locationX>
        <locationY>-50</locationY>
        <connector>
            <targetReference>Get_Original_Transfer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colOriginalStates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>ProductTransferState</objectType>
    </variables>
    <variables>
        <name>transferId</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
    </variables>
    <variables>
        <name>varOriginalTransfer</name>
        <dataType>SObject</dataType>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>varReversalHeader</name>
        <dataType>SObject</dataType>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>varReversalId</name>
        <dataType>String</dataType>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varReversalLine</name>
        <dataType>SObject</dataType>
        <objectType>ProductTransferLine</objectType>
    </variables>
    <variables>
        <name>varReversalState</name>
        <dataType>SObject</dataType>
        <objectType>ProductTransferState</objectType>
    </variables>
    <variables>
        <name>varUpdateOriginal</name>
        <dataType>SObject</dataType>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>varUpdateReversal</name>
        <dataType>SObject</dataType>
        <objectType>ProductTransfer</objectType>
    </variables>
</Flow>