force-app/main/default/flows/workplan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>coll_WorkStepsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_SingleWorkStep</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Work_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Step_Values</name>
        <label>Assign Work Step Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SingleWorkStep.WorkPlanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Work_Plans.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleWorkStep.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Work_Plans.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleWorkStep.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WorkStepTemplate.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleWorkStep.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WorkStepTemplate.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleWorkStep.ExecutionOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ExecutionOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleWorkStep.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Collection_is_Empty</name>
        <label>Check if Collection is Empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Collection Empty</defaultConnectorLabel>
        <rules>
            <name>Has_Records_To_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>coll_WorkStepsToCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Work_Steps</targetReference>
            </connector>
            <label>Has Records To Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Work_Plans_Found</name>
        <label>Were Work Plans Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Work_Plans</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Work_Plans</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>WorkPlan Step Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkPlan Step Creation</label>
    <loops>
        <name>Loop_Through_Work_Plans</name>
        <label>Loop Through Work Plans</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Active_Work_Plans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Work_Step_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Collection_is_Empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Work_Steps</name>
        <label>Create New Work Steps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>coll_WorkStepsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Work_Plans</name>
        <label>Get Active Work Plans</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_Work_Plans_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkPlanTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkPlanTemplateId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkOrderId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WorkOrder.Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WorkOrder.Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WorkOrder.Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>WorkOrder.Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Work_Plans</targetReference>
        </connector>
        <object>WorkPlanTemplateEntry</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>coll_WorkStepsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>var_SingleWorkStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
</Flow>