force-app/main/default/flows/WorkPlan_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_ID_to_Text_Collection</name>
        <label>Add ID to Text Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>coll_WorkPlanIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_to_Collect_IDs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Collect_IDs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Steps_Exist</name>
        <label>Check if Steps Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Steps Found</defaultConnectorLabel>
        <rules>
            <name>Has_Steps_To_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_Work_Steps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Work_Steps</targetReference>
            </connector>
            <label>Has Steps To Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Work_Plans_Found</name>
        <label>Were Work Plans Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Work_Plans</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_to_Collect_IDs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>WorkPlan Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkPlan Delete</label>
    <loops>
        <name>Loop_to_Collect_IDs</name>
        <label>Loop to Collect IDs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Active_Work_Plans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_ID_to_Text_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Matching_Work_Steps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Work_Steps</name>
        <label>Delete Work Steps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Matching_Work_Steps</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Active_Work_Plans</name>
        <label>Get Active Work Plans</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_Work_Plans_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkPlanTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkPlanTemplateId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkOrderId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Work_Steps</name>
        <label>Get Matching Work Steps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Steps_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkPlanId</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_WorkPlanIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkStepTemplate.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkStep</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Work_Plans</targetReference>
        </connector>
        <object>WorkPlanTemplateEntry</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>coll_WorkPlanIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>