force-app/flows/Reject_Serialised_Product_Transfer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{"location":"top","type":"simple"}</stringValue>
        </value>
    </customProperties>

    <decisions>
        <name>Check_PT_Eligibility</name>
        <label>Check PT Eligibility</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Source_Product_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Eligible</defaultConnectorLabel>
        <rules>
            <name>Not_Eligible</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varOrigPT.IsReceived</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOrigPT.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOrigPT.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOrigPT.SourceLocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejection_reason</targetReference>
            </connector>
            <label>Not Eligible</label>
        </rules>
    </decisions>

    <decisions>
        <name>Does_Dest_PI_Exist</name>
        <label>Does Dest PI Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Existing_PI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrigPT.DestinationLocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Records_Element</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>

    <decisions>
        <name>IsPTsuccesfullyRejected</name>
        <label>IsPTsuccesfullyRejected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Still_PT_Not_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Rejected</defaultConnectorLabel>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fresh_PT_Status.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_PT</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>

    <environments>Default</environments>

    <formulas>
        <name>varIsInternalTransfer</name>
        <dataType>Boolean</dataType>
        <expression>{!varOrigPT.IsInternalTransfer__c}</expression>
    </formulas>

    <formulas>
        <name>varIsSerialized</name>
        <dataType>Boolean</dataType>
        <expression>{!varOrigPT.Product2.IsSerialized}</expression>
    </formulas>

    <interviewLabel>Reject Serialised Product Transfer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reject Serialised Product Transfer</label>
    <processType>Flow</processType>

    <loops>
        <name>Loop_SPT_Receive</name>
        <label>Loop SPT Receive - Original PT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varSPTList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Rejection_State</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Bulk_Create_Original_Rejection_States</targetReference>
        </noMoreValuesConnector>
    </loops>

    <loops>
        <name>Loop_SPT_Return</name>
        <label>Loop SPT Return - New PT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varSPTList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Send_State</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Bulk_Create_Return_PT_States</targetReference>
        </noMoreValuesConnector>
    </loops>

    <assignments>
        <name>Assign_Rejection_State</name>
        <label>Assign Rejection State</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSinglePTState.Action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Receive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSinglePTState.ProductTransferId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOrigPT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSinglePTState.SerializedProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_SPT_Receive.SerializedProductId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Rejection_Collection</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Add_To_Rejection_Collection</name>
        <label>Add To Rejection Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colPTStatesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSinglePTState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SPT_Receive</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Assign_Send_State</name>
        <label>Assign Send State</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSinglePTState.Action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSinglePTState.ProductTransferId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_PT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSinglePTState.SerializedProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_SPT_Return.SerializedProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSinglePTState.TransferState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Send_To_Return_Collection</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Add_Send_To_Return_Collection</name>
        <label>Add Send To Return Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colPTStatesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSinglePTState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Receive_State</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Assign_Receive_State</name>
        <label>Assign Receive State</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSinglePTState.Action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Receive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSinglePTState.ProductTransferId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_PT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSinglePTState.SerializedProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_SPT_Return.SerializedProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSinglePTState.TransferState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Receive_To_Return_Collection</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Add_Receive_To_Return_Collection</name>
        <label>Add Receive To Return Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colPTStatesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSinglePTState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SPT_Return</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Clear_State_Collection</name>
        <label>Clear State Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colPTStatesToCreate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SPT_Return</targetReference>
        </connector>
    </assignments>

    <recordCreates>
        <name>Bulk_Create_Original_Rejection_States</name>
        <label>Bulk Create Original Rejection States</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Original_PT_to_Rejected</targetReference>
        </connector>
        <inputReference>colPTStatesToCreate</inputReference>
    </recordCreates>

    <recordCreates>
        <name>Bulk_Create_Return_PT_States</name>
        <label>Bulk Create Return PT States</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_New_PT_to_COmpleted</targetReference>
        </connector>
        <inputReference>colPTStatesToCreate</inputReference>
    </recordCreates>

    <recordCreates>
        <name>Create_New_PT</name>
        <label>Create New PT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_New_Pt</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>System-generated return for rejected transfer: {!varOrigPT.ProductTransferNumber}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DestinationLocationId</field>
            <value>
                <elementReference>varOrigPT.SourceLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>varOrigPT.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantitySent</field>
            <value>
                <elementReference>Get_Fresh_PT_Status.QuantityReceived</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceLocationId</field>
            <value>
                <elementReference>varOrigPT.DestinationLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </inputAssignments>
        <object>ProductTransfer</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <recordCreates>
        <name>Create_Records_Element</name>
        <label>Create Records Element</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_SPT_Receive</targetReference>
        </connector>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>varOrigPT.DestinationLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>varOrigPT.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityOnHand</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <recordLookups>
        <name>Get_Destination_Product_Item</name>
        <label>Get Destination Product Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Dest_PI_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrigPT.DestinationLocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrigPT.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <recordLookups>
        <name>Get_Fresh_PT_Status</name>
        <label>Get Fresh PT Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsPTsuccesfullyRejected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductTransfer</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <recordLookups>
        <name>Get_New_Pt</name>
        <label>Get New PT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_New_PT_IsSent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_PT.Id</elementReference>
            </value>
        </filters>
        <object>ProductTransfer</object>
        <outputReference>varNewPT</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DestinationLocationId</queriedFields>
        <queriedFields>SourceLocationId</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>QuantitySent</queriedFields>
        <queriedFields>QuantityReceived</queriedFields>
        <queriedFields>ProductTransferNumber</queriedFields>
        <queriedFields>SourceProductItemId</queriedFields>
        <queriedFields>IsSent</queriedFields>
    </recordLookups>

    <recordLookups>
        <name>Get_Original_PT</name>
        <label>Get Original PT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Serialized_Product_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ProductTransfer</object>
        <outputReference>varOrigPT</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>SourceLocationId</queriedFields>
        <queriedFields>SourceProductItemId</queriedFields>
        <queriedFields>DestinationLocationId</queriedFields>
        <queriedFields>QuantitySent</queriedFields>
        <queriedFields>QuantityReceived</queriedFields>
        <queriedFields>ProductTransferNumber</queriedFields>
        <queriedFields>IsReceived</queriedFields>
        <queriedFields>ReceivedById</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>IsInternalTransfer__c</queriedFields>
    </recordLookups>

    <recordLookups>
        <name>Get_Serialized_Product_Transaction</name>
        <label>Get Serialized Product Transaction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_PT_Eligibility</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>SerializedProductTransaction</object>
        <outputReference>varSPTList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RelatedRecordId</queriedFields>
        <queriedFields>SerializedProductId</queriedFields>
        <queriedFields>TransactionType</queriedFields>
    </recordLookups>

    <recordLookups>
        <name>Get_Source_Product_Item</name>
        <label>Get Source Product Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Destination_Product_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrigPT.SourceProductItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <recordUpdates>
        <name>Update_New_PT_IsSent</name>
        <label>Update New PT IsSent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clear_State_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_PT.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsSent</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ProductTransfer</object>
    </recordUpdates>

    <recordUpdates>
        <name>Update_Existing_PI</name>
        <label>Update Existing PI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_SPT_Receive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Destination_Product_Item.Id</elementReference>
            </value>
        </filters>
        
        <object>ProductItem</object>
    </recordUpdates>

    <recordUpdates>
        <name>Update_New_PT_to_COmpleted</name>
        <label>Update New PT to Completed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_PT.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsReceived</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityReceived</field>
            <value>
                <elementReference>Create_New_PT.QuantitySent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReceivedById</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>ProductTransfer</object>
    </recordUpdates>

    <recordUpdates>
        <name>Update_Original_PT_to_Rejected</name>
        <label>Update Original PT to Rejected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Fresh_PT_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrigPT.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsReceived</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityReceived</field>
            <value>
                <elementReference>varOrigPT.QuantitySent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReceivedById</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>ProductTransfer</object>
    </recordUpdates>

    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>css</name>
            <fieldText>&lt;p&gt;The transfer has been rejected and a return transfer has been initiated successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <screens>
        <name>Rejection_reason</name>
        <label>Rejection reason</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotEligible</name>
            <fieldText>&lt;p&gt;This transfer cannot be rejected because it is either not serialized, or has already been processed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <screens>
        <name>Still_PT_Not_Rejected</name>
        <label>Still PT Not Rejected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Rejcted</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;PT is currently processing or could not be rejected.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Original_PT</targetReference>
        </connector>
    </start>

    <status>Active</status>

    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>varNewPT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>

    <variables>
        <name>varOrigPT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>

    <variables>
        <name>colPTStatesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransferState</objectType>
    </variables>

    <variables>
        <name>varSinglePTState</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransferState</objectType>
    </variables>

    <variables>
        <name>varSPTList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProductTransaction</objectType>
    </variables>
</Flow>